/*
.container{
    display: flex;
    flex-wrap: wrap;
}*/

.divc{
    background-color:aqua;
    color:white;
    margin-left: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110%;
    border: 1px solid black;
}

/*
body div.container div.divc .titulo{
    color:black;
} */

.titulo.principal{
    color: black;
}

.columna{
    background-color: aqua;
    border: 1px solid black;
}

/*
.col.columna{
    background-color: aqua;
    margin: 1px;
    border: 1px solid black;
}*7

